@charset "UTF-8";
body
{
    background-image:  linear-gradient(to right, yellow 60%, transparent);
    display: grid;
    place-items: center;

}
.conteiner 
{
    background-color: blue;
    width: 400px;
    height: 400px;
    position: relative;
}
.x1
{
    background-color: red;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 31.25%;
    top: 31.25%;

}
.x2
{
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 37.5%;
    top: 37.5%;
}
.pai 
{
    background-color: blue;
    width: 400px;
    height: 400px;
    display: grid;
    place-content: center;
}
.s1
{
    background-color: green;
    width: 100px;
    height: 100px;
    border: 25px solid red;
}

