@charset "UFT-8";
body{
    background-color: yellow;
}
h1{
    text-align: center;
}
div#pai{
    background-color: blue;
    width: 600px;
    height: 600px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
}
div#pai>div#filho{
    background-color:yellow;
    width: 350px;
    height: 350px;
    
    display: grid;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border: 50px solid green;
    border-radius:100%;
}
div#pai>div#filho>div{
    background-color: red;
    width: 150px;
    height: 150px;
    border: 50px solid #fff;
    border-radius:100%;
    
}
