@charset "UFT-8";
/*
#ffff00
##0000ff
*/
body{
    background-color: #ffff00;
    display: grid;
    align-items: center;
    justify-content: center;
   }
div{
    background-color: blue;
    width: 100px;
    height: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
        
}
