@charset "UFT-8";
body{
    background-color: yellow;
}

/*
main>div{width: 100%;}
*/ 
h1{
    text-align: center;
    max-width: 100%;
}
div#pai
{
    background-color: blue;
    width: 400px;
    height: 400px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 100%;
    
}
    
div#pai div
{
    background-color: #fff;
    width:200px;
    height: 200px;
    
    
}
