@charset "UFT-8";
body
{
    background-image: linear-gradient(to right, yellow 60%, transparent);
}
main
{
    max-width: 100%;
}
h1, h2
{
    text-align: center;
}
    
div.square
{
    background-color: blue;
    width:400px;
    height:400px;
    margin: auto;
    max-width: 100%;
       
}
div.semidisc
{
    background-color: blue;
    width:400px;
    height:200px;
    margin: auto;
    max-width: 100%;
    border-radius: 200px 200px 0 0;
       
}
div.squarering
{
    background-color: transparent;
    width:300px;
    height:300px;
    margin: auto;
    max-width: 100%;
    border: 50px solid blue;
       
}
div.ring
{
    background-color: transparent;
    width: 300px;
    height: 300px;
    max-width: 100%;
    margin: auto;
    border-radius:200px;
    border:50px solid blue;
}
div.semiring
{
    background-color: transparent;
    width: 300px;
    height: 150px;
    margin: auto;
    max-width: 100%;
    border-radius: 200px 200px 0 0;
    border-right: 50px solid blue; 
    border-left: 50px solid blue; 
    border-top: 50px solid blue;
}
div.semiring180deg
{
    background-color: transparent;
    width: 300px;
    height: 150px;
    margin: auto;
    max-width: 100%;
    border-radius: 200px 200px 0 0;
    border-right: 50px solid blue; 
    border-left: 50px solid blue; 
    border-top: 50px solid blue;
    rotate: calc(180deg);
}